# pandas

#### it is a open source python library
#### it produces high performance data manupulation and data analysis
#### using pandas we accomplish five typical steps:
#1.load 2.prepare 3.model 4. manuplate 5.analyze
#### pandas basically used for data analysis
#### import pandas as pd

#### use cases:
1. data cleaning
2. data transformation
3. data analysis

#### Notations:
1. Series(similar to  numpy arrays)
     - creating pandas Series
     - indexing Series
2. Data Frames(default tabular format) 
     - creating dataframes from dictionaries
     - importing csv data files as pandas data frames
     - reading and summarizing data frames
     - sorting data frames

## 1. Panda Series:
#### series is a 1 labeled array
#### it holds any datatype like int,float,string...
#### syn:
      pd.Series(data,index,dtype)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.16.4)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [1]:
# integers
import pandas as pd 
ser=pd.Series([1,2,3,4,5])
print(ser)
type(ser)

0    1
1    2
2    3
3    4
4    5
dtype: int64

pandas.core.series.Series

In [4]:
#strings
ser=pd.Series(['python','programming','workshop'])
print(ser)
print(type(ser))

0         python
1    programming
2       workshop
dtype: object
<class 'pandas.core.series.Series'>

In [5]:
#mixed datatype
ser=pd.Series([1,2,3,"python"])
print(ser)
print(type(ser))

0         1
1         2
2         3
3    python
dtype: object
<class 'pandas.core.series.Series'>

In [6]:
ser[3]

'python'

In [7]:
ser[2:]

2         3
3    python
dtype: object

In [8]:
ser[1:3]

1    2
2    3
dtype: object

In [9]:
ser[1::3]

1    2
dtype: object

In [10]:
ser[::3]

0         1
3    python
dtype: object

In [11]:
ser[::-1]

3    python
2         3
1         2
0         1
dtype: object

In [15]:
# changing index
import pandas as pd
ser=pd.Series([1,2,3],index=['a','b','c'])
print(ser)
print(type(ser))

a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

In [48]:
# changing index to daterange
ser=pd.Series([1,2,3],index=pd.date_range('11-11-2019','13-11-2019'))
print(ser)
print(type(ser))

2019-11-11    1
2019-11-12    2
2019-11-13    3
Freq: D, dtype: int64
<class 'pandas.core.series.Series'>

In [43]:
ser1=pd.Series([1,2,3],index=('3-11-2019','4-11-2019','5-11-2019'))
print(ser1)
print(type(ser1))

3-11-2019    1
4-11-2019    2
5-11-2019    3
dtype: int64
<class 'pandas.core.series.Series'>

In [23]:
# using numpys and pandas
import numpy as np
import pandas as pd
ser=pd.Series(np.arange(1,10)**5,index=range(1,10))
print(ser)
print(type(ser))

1        1
2       32
3      243
4     1024
5     3125
6     7776
7    16807
8    32768
9    59049
dtype: int32
<class 'pandas.core.series.Series'>

### data frames:
#### data frames is 2d lebelled array
#### data frames can be created using lists,dictionaries
#### it gives data in tabular format

In [46]:
import pandas as pd
data=[['python',23],['programming',24],['workshop',22]]
r=pd.DataFrame(data,columns=['Name','Age'])
print(r)
print(type(r))

          Name  Age
0       python   23
1  programming   24
2     workshop   22
<class 'pandas.core.frame.DataFrame'>

In [53]:
#series using dictionaries
import pandas as pd
a={'python':23,'programming':24,'workshop':22}
r1=pd.Series(a)
b={'python':27,'programming':25,'workshop':28}
r2=pd.Series(b)
print(r1,'\n','\n',r2)

python         23
programming    24
workshop       22
dtype: int64

 python         27
programming    25
workshop       28
dtype: int64

In [52]:
# dataframe using dictionaries
final={'Mid1':r1,'Mid2':r2}
r=pd.DataFrame(final)
print(r)
print(type(r))

             Mid1  Mid2
python         23    27
programming    24    25
workshop       22    28
<class 'pandas.core.frame.DataFrame'>

In [55]:
d=pd.DataFrame({'Name':['python','programming'],'age':[23,34],'occupation':['engineer','doctor']})
print(d)
print(type(d))

          Name  age occupation
0       python   23   engineer
1  programming   34     doctor
<class 'pandas.core.frame.DataFrame'>